<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="localDateTime" value="%d{yyyy-MM-dd}"/>
    <property name="logPattern" value="[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%C] [%X{tid}] - %m%n"/>
    <property name="maxHistory" value="5"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${logPattern}</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!--
    Springboot读取配置信息,详细使用参见 https://blog.csdn.net/AaronSimon/article/details/82710792
    <springProperty scope="context" name="sprint.xxx" source="spring.xxx"/>
    -->

</configuration>
